@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

:root {
  font-size: 10px;
  --main-purple: purple;
  --main-bg: #121a26;
  --alt-bg: #1e2f48;
  --main-hover: #c510c5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-left: 12vw;
  margin-right: 12vw;
  margin-top: 50px;
  background-color: var(--main-bg);
  font-family: "Space Grotesk", sans-serif;
  color: white;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
}

li {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
}

a {
  color: white;
  text-decoration: none;
}

#aboutLink,
#githubLink {
  font-size: 2.2rem;
  margin-right: 20px;
}

#aboutLink:hover,
#githubLink:hover {
  color: var(--main-hover);
}

.logo {
  font-size: 2.8rem;
}

.logo:hover {
  color: var(--main-hover);
}

.close-btn {
  display: none;
}

.home_section {
  width: 32vw;
  margin-top: 15%;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  text-shadow: 2px 2px 2px black;
}

.dev_title {
  color: var(--main-purple);
  text-shadow: 2px 2px 2px black;
}

h2 {
  font-size: 2.5rem;
  margin-top: 0.5rem;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
}

.describe {
  margin-top: 5rem;
  font-size: 1.9rem;
}

.since {
  font-size: 2rem;
  margin-top: 3.5rem;
}

#counter {
  color: var(--main-purple);
  text-shadow: 2px 2px 2px black;
}

.hireme {
  margin-top: 4rem;
}

.hire {
  background-color: var(--main-purple);
  border-radius: 4rem;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 1.7rem;
  padding: 1.2rem 2rem;
  text-shadow: 2px 2px 2px black;
}

.hire:hover {
  background-color: #c510c5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.cv {
  margin-top: 1.5rem;
}

.download-button {
  font-size: 2.2rem;
  padding: 1.2rem 2rem;
}

.download-button:hover {
  color: var(--main-purple);
}

.brake {
  background-color: var(--alt-bg);
  display: flex;
  position: relative;
  margin-top: 22vh;
  margin-left: -12vw;
  width: 100vw;
  height: 12vh;
  justify-content: space-around;
  align-items: center;
  text-shadow: 0.2rem 0.2rem 0.2rem black;
  overflow: hidden;
}

.brake-text {
  display: none;
}

.brake_one,
.brake_two,
.brake_three {
  color: var(--main-purple);
  font-size: 2rem;
  font-weight: bold;
  z-index: 22222;
  margin: 0px 12px;
}

.brake_title {
  color: white;
}

.waves section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--main-bg);
}

section .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6.5rem;
  background: url(wave.png);
  background-size: 100rem 6.5rem;
}

section .wave.wave1 {
  animation: animate 20s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

section .wave.wave2 {
  animation: animate2 10s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 0.6rem;
}

section .wave.wave3 {
  animation: animate 20s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 0.3rem;
}

section .wave.wave4 {
  animation: animate2 10s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 0.2rem;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100rem;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -100rem;
  }
}

#about {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.technology {
  min-width: 40rem;
  max-width: 60rem;
  height: 32rem;
  padding: 1rem;
  font-size: 2.2rem;
  border: 0.2rem solid white;
  border-radius: 1.5rem;
  margin: 0 2.5rem;
}

.technology ul {
  columns: 2;
  text-align: center;
}

.technology li {
  margin-top: 2rem;
}

.skills {
  justify-content: center;
  align-items: center;
}

.aboutme {
  min-width: 40rem;
  max-width: 60rem;
  height: 32rem;
  padding: 1rem;
  text-align: center;
  font-size: 2.2rem;
  border: 0.2rem solid white;
  border-radius: 1.5rem;
  margin: 0 2.5rem;
}

.readmore {
  background-color: var(--alt-bg);
  border: none;
  border-radius: 1rem;
  color: var(--main-purple);
  cursor: pointer;
  display: flex;
  text-align: center;
  font-size: 2.2rem;
  padding: 1rem;
  margin: 5rem auto;
}

.readmore:hover {
  color: var(--main-bg);
}

.projects {
  margin-top: 10rem;
}

h3 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.gitlink {
  color: var(--main-purple);
}

.visit {
  color: #3e4b5c;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  text-shadow: 0.2rem 0.2rem 0.2rem black;
}

.portfolio {
  text-align: center;
  color: white;
  display: flex;
  justify-content: space-around;
  margin-top: 7rem;
  font-size: 2.3rem;
  text-shadow: 0.2rem 0.2rem 0.2rem black;
}

.profesk2,
.spanawynos {
  background-color: var(--alt-bg);
  border-radius: 2.5rem;
  cursor: pointer;
  width: 30rem;
  height: 35rem;
  transition: transform 0.3s ease;
}

.profesk2:hover,
.spanawynos:hover {
  transform: scale(0.9);
}

/* FOOTER */

footer {
  margin-top: 20rem;
}

.brakefooter {
  background-color: var(--alt-bg);
  display: flex;
  margin-left: -12vw;
  width: 100vw;
  height: 12vh;
  justify-content: space-between;
  align-items: center;
  text-shadow: 0.2rem 0.2rem 0.2rem black;
  overflow: hidden;
  z-index: 50;
}

section .wavefooter {
  margin-bottom: -5rem;
  width: 100vw;
  height: 9.5rem;
  background: url(wavefooter.png);
  background-size: 100rem 9.5rem;
  position: absolute;
}

section .wavefooter.wavefooter1 {
  animation: animate 20s linear infinite;
  z-index: 1200;
  opacity: 0.8;
  animation-delay: 0s;
}

section .wavefooter.wavefooter2 {
  animation: animate 10s linear infinite;
  z-index: 1200;
  opacity: 0.3;
  animation-delay: -5s;
}

section .wavefooter.wavefooter3 {
  animation: animate 20s linear infinite;
  z-index: 1200;
  opacity: 0.4;
  animation-delay: -2s;
}

section .wavefooter.wavefooter4 {
  animation: animate 10s linear infinite;
  z-index: 1200;
  opacity: 0.5;
  animation-delay: -5s;
}

#logofooter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.socialmedia {
  display: flex;
  justify-content: center;
  width: 100%;
}

.socialmedia button {
  background-color: var(--main-bg);
  border: none;
  border-radius: 1rem;
  font-size: 2.2rem;
  margin: 0 1.5rem;
  padding: 1rem;
  z-index: 4944;
}

.socialmedia button a:hover {
  color: var(--alt-bg);
}

@media (max-width: 851px) {
  #aboutLink,
  #githubLink {
    display: none;
  }

  body {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1.5rem;
    overflow-x: hidden;
  }

  #about {
    display: block;
  }

  h1 {
    font-size: 3rem;
  }

  .skills {
    margin-top: -2rem;
  }

  .aboutme,
  .technology {
    font-size: 1.8rem;
    margin: 8rem auto;
    min-width: 20rem;
    max-width: 35rem;
  }

  .aboutme {
    font-size: 2rem;
  }

  .technology ul {
    columns: 1;
  }

  li {
    display: block;
  }

  .home_section {
    width: 94vw;
    margin-top: 25%;
  }

  .cv {
    margin-bottom: 5rem;
  }

  .brake {
    display: block;
    margin-top: 10vh;
    margin-left: -4vw;
    padding: 1rem;
    height: 30vh;
    width: 100vw;
  }

  .brake_one,
  .brake_two,
  .brake_three {
    margin-top: 1.3rem;
    position: relative;
    font-size: 1.9rem;
  }

  section .wave {
    height: 9.5rem;
    background-size: 100rem 9.5rem;
  }

  .portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profesk2,
  .spanawynos {
    margin-top: 6vh;
    width: 50vw;
    height: 30vh;
  }

  .brakefooter {
    margin-left: -3.8vw;
    height: 7vh;
  }

  .socialmedia button {
    margin-top: 1.5rem;
    padding: 0.8rem;
    font-size: 1.9rem;
  }

  footer {
    margin-top: 12vh;
  }

  section .wavefooter {
    height: 6rem;
  }

  @media screen and (min-width: 530px) and (max-width: 851px) {
    #aboutLink,
    #githubLink {
      display: none;
    }

    .home_section {
      margin-top: 10%;
    }
  }
}

@media screen and (min-width: 852px) and (max-width: 1354px) {
  #aboutLink,
  #githubLink {
    display: none;
  }

  .home_section {
    width: 50vw;
  }

  .brake_one,
  .brake_two,
  .brake_three {
    font-size: 1.85rem;
  }

  .aboutme,
  .technology {
    font-size: 2rem;
    margin: 8rem auto;
    min-width: 20rem;
    max-width: 35rem;
    height: 35rem;
  }

  .technology ul {
    columns: 1;
  }

  .skills {
    margin-top: -1rem;
  }

  .aboutme {
    font-size: 2.2rem;
  }
}
